// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primary-font-family: "Poppins", system-ui;

// |=============== COLOR ===============>
// |CM| Change favorite color (Orange Crayola - 18)
$hue-color: 18;
// |CM| HSL color mode
$primary-color: hsl($hue-color 100% 59%);
$second-color: hsl($hue-color 100% 59% / 0.7);
$third-color: hsl($hue-color 100% 59% / 0.6);
$fourth-color: hsl(206 15% 18%);
$fifth-color: hsl(206 15% 18% / 0.6);
$sixth-color: hsl(206 15% 18% / 0.2);
$seventh-color: hsl(206 16% 21% / 0.2);
$eighth-color: hsl(33 100% 61%);
$ninth-color: hsl(33 100% 61% / 0.55);
$tenth-color: hsl(288 100% 98%);
$eleventh-color: hsl(208 18% 14%);
$twelfth-color: hsl(262 10% 53%);
$thirteenth-color: hsl(358 98% 61%);
$fourteenth-color: hsl(2 100% 63% / 0.4);
$fifteenth-color: hsl(0 0% 100% / 0.9);
$sixteenth-color: hsl(0 0% 100% / 0.8);
$seventeenth-color: hsl(0 0% 100% / 0.78);
$eighteenth-color: hsl(0 0% 100% / 0.55);
$nineteenth-color: hsl(0 0% 100% / 0.38);
$twentieth-color: hsl(0 0% 100% / 0.15);
$twenty-first-color: hsl(0 0% 100% / 0.1);
$twenty-second-color: hsl(0 0% 100% / 0.08);
$twenty-third-color: hsl(0 0% 100% / 0.05);
$twenty-fourth-color: hsl(0 0% 7% / 0.15);
$twenty-fifth-color: hsl(204 100% 40%);
// |CM| Universal colors
$white-color: hsl(0 0% 100%);
$black-color: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primary-font-weight: 500;
// |CM| Additional font-weights
$second-font-weight: 600;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$text-size-base: 16px;
// |CM| Different font-size options
$text-size-small: $text-size-base - 2px;
$text-size-medium: $text-size-base + 2px;
$text-size-big: $text-size-base + 4px;
$text-size-large: $text-size-base + 8px;
$text-size-huge: $text-size-base + 10px;
$text-size-max-tiny: $text-size-base + 32px;
$text-size-max-small: $text-size-base + 34px;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primary-br: 8px;
// |CM| Additional border-radiuses
$second-br: 15px;
$third-br: 25px;

// |=============== GAP ===============>
// |CM| Specifying a fallback color for background images
$primary-gap: 24px;

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$fast-transition-duration: 0.2s;

// |=============== Z-INDEX ===============>
// |CM| Different z-index values for ease of selection
$primary-z: -1;
$second-z: 0;
$third-z: 1;
$fourth-z: 2;
