<section class="section-hero section-hero_indent">
  <div class="container section-hero__container">
    <h1 class="section-hero__title">
      Awesome tools for Designer &amp;&nbsp;Developer<span class="section-hero__dot">.</span>
    </h1>
    <p class="section-hero__desc">
      Antool is a web collection of information on paid or free Design and Development tools
    </p>
    <form class="form-hero section-hero__form" name="formHeroSearch" action="#">
      <label class="form-hero__label" for="form-hero__field">
        Search by programs
      </label>
      <input class="form-hero__field" id="form-hero__field" type="search" name="fieldHeroSearch" placeholder="find more than 430+ tools..." translate="no" autocapitalize="off" autocorrect="false" spellcheck="false">
      <button class="button form-hero__search">Search</button>
    </form>
    <ul class="socials-hero section-hero__socials">
      <li class="socials-hero__item">
        <a class="socials-hero__link socials-hero__link_fb" href="#" target="_blank" rel="noopener" aria-label="Facebook page."></a>
      </li>
      <li class="socials-hero__item">
        <a class="socials-hero__link socials-hero__link_inst" href="#" target="_blank" rel="noopener" aria-label="Instagram page."></a>
      </li>
      <li class="socials-hero__item">
        <a class="socials-hero__link socials-hero__link_tw" href="#" target="_blank" rel="noopener" aria-label="Twitter page."></a>
      </li>
    </ul>
  </div>
</section>
