<section class="section-newcomer section-newcomer_indent">
  <div class="container section-newcomer__container">
    <div class="section-newcomer__box">
      <div class="content-newcomer section-newcomer__content">
        <h2 class="title content-newcomer__title">
          Newcomer Tools
        </h2>
        <p class="desc content-newcomer__desc">
          Wow! see the latest update of the most recommended tools from reliable designers and developers
        </p>
        <a class="content-newcomer__more" href="#">
          Explore more
        </a>
      </div>
      <ul class="list-newcomer section-newcomer__list">
        <li class="list-newcomer__item">
          <div class="list-newcomer__content">
            <h3 class="list-newcomer__title">Zeplin</h3>
            <span class="list-newcomer__usage">Free &amp;&nbsp;Paid</span>
          </div>
          <p class="list-newcomer__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="list-newcomer__box">
            <div class="list-newcomer__actions">
              <button class="list-newcomer__like" type="button" aria-label="Add the program to the likes section.">
                <svg class="list-newcomer__heart" width="28" height="28" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-heart" />
                </svg>
              </button>
              <button class="list-newcomer__add" type="button" aria-label="Add the program to the saved section.">
                <svg class="list-newcomer__folder" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-folder" />
                </svg>
              </button>
            </div>
            <a class="list-newcomer__visit" href="#">Visit</a>
          </div>
        </li>
        <li class="list-newcomer__item">
          <div class="list-newcomer__content">
            <h3 class="list-newcomer__title">PHPStorm</h3>
            <span class="list-newcomer__usage">Free</span>
          </div>
          <p class="list-newcomer__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="list-newcomer__box">
            <div class="list-newcomer__actions">
              <button class="list-newcomer__like" type="button" aria-label="Add the program to the likes section.">
                <svg class="list-newcomer__heart" width="28" height="28" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-heart" />
                </svg>
              </button>
              <button class="list-newcomer__add" type="button" aria-label="Add the program to the saved section.">
                <svg class="list-newcomer__folder" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-folder" />
                </svg>
              </button>
            </div>
            <a class="list-newcomer__visit" href="#">Visit</a>
          </div>
        </li>
        <li class="list-newcomer__item">
          <div class="list-newcomer__content">
            <h3 class="list-newcomer__title">Toolbox</h3>
            <span class="list-newcomer__usage">Free</span>
          </div>
          <p class="list-newcomer__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="list-newcomer__box">
            <div class="list-newcomer__actions">
              <button class="list-newcomer__like" type="button" aria-label="Add the program to the likes section.">
                <svg class="list-newcomer__heart" width="28" height="28" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-heart" />
                </svg>
              </button>
              <button class="list-newcomer__add" type="button" aria-label="Add the program to the saved section.">
                <svg class="list-newcomer__folder" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-folder" />
                </svg>
              </button>
            </div>
            <a class="list-newcomer__visit" href="#">Visit</a>
          </div>
        </li>
        <li class="list-newcomer__item">
          <div class="list-newcomer__content">
            <h3 class="list-newcomer__title">Procreate</h3>
            <span class="list-newcomer__usage">Paid</span>
          </div>
          <p class="list-newcomer__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="list-newcomer__box">
            <div class="list-newcomer__actions">
              <button class="list-newcomer__like" type="button" aria-label="Add the program to the likes section.">
                <svg class="list-newcomer__heart" width="28" height="28" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-heart" />
                </svg>
              </button>
              <button class="list-newcomer__add" type="button" aria-label="Add the program to the saved section.">
                <svg class="list-newcomer__folder" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites.svg#icon-folder" />
                </svg>
              </button>
            </div>
            <a class="list-newcomer__visit" href="#">Visit</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper slider-newcomer section-newcomer__slider">
      <div class="swiper-wrapper slider-newcomer__wrapper">
        <div class="swiper-slide slider-newcomer__slide">
          <div class="slider-newcomer__left">
            <div class="slider-newcomer__tablet">
              <h3 class="slider-newcomer__title">
                Ronald Richards
              </h3>
              <span class="slider-newcomer__position">
                Product Manager
              </span>
            </div>
          </div>
          <div class="slider-newcomer__right">
            <p class="slider-newcomer__text">
              Incididunt cillum do&nbsp;sint sint enim ullamco id&nbsp;deserunt mollit qui reprehenderit&nbsp;do. Velit ex&nbsp;tempor cillum ad&nbsp;sint occaecat. Do&nbsp;nulla velit labore occaecat do&nbsp;deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur veniam minim ex&nbsp;commodo sint non. Occaecat aute officia excepteur non laboris id&nbsp;qui&nbsp;ad.
            </p>
          </div>
        </div>
        <div class="swiper-slide slider-newcomer__slide">
          <div class="slider-newcomer__left">
            <div class="slider-newcomer__tablet">
              <h3 class="slider-newcomer__title">
                Ronald Richards
              </h3>
              <span class="slider-newcomer__position">
                Product Manager
              </span>
            </div>
          </div>
          <div class="slider-newcomer__right">
            <p class="slider-newcomer__text">
              Incididunt cillum do&nbsp;sint sint enim ullamco id&nbsp;deserunt mollit qui reprehenderit&nbsp;do. Velit ex&nbsp;tempor cillum ad&nbsp;sint occaecat. Do&nbsp;nulla velit labore occaecat do&nbsp;deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur veniam minim ex&nbsp;commodo sint non. Occaecat aute officia excepteur non laboris id&nbsp;qui&nbsp;ad.
            </p>
          </div>
        </div>
        <div class="swiper-slide slider-newcomer__slide">
          <div class="slider-newcomer__left">
            <div class="slider-newcomer__tablet">
              <h3 class="slider-newcomer__title">
                Ronald Richards
              </h3>
              <span class="slider-newcomer__position">
                Product Manager
              </span>
            </div>
          </div>
          <div class="slider-newcomer__right">
            <p class="slider-newcomer__text">
              Incididunt cillum do&nbsp;sint sint enim ullamco id&nbsp;deserunt mollit qui reprehenderit&nbsp;do. Velit ex&nbsp;tempor cillum ad&nbsp;sint occaecat. Do&nbsp;nulla velit labore occaecat do&nbsp;deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur veniam minim ex&nbsp;commodo sint non. Occaecat aute officia excepteur non laboris id&nbsp;qui&nbsp;ad.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination slider-newcomer__pagination"></div>
      <button class="swiper-button-prev slider-newcomer__prev" type="button">
        <svg class="slider-newcomer__icon-prev" width="48" height="48" aria-hidden="true">
          <use xlink:href="img/sprites.svg#icon-arrow-left" />
        </svg>
      </button>
      <button class="swiper-button-next slider-newcomer__next" type="button">
        <svg class="slider-newcomer__icon-next" width="48" height="48" aria-hidden="true">
          <use xlink:href="img/sprites.svg#icon-arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
