<section class="section-populars section-populars_indent">
  <div class="container section-populars__container">
    <h2 class="title section-populars__title">
      Most Popular Tools
    </h2>
    <p class="desc section-populars__desc">
      Tools for the best Designers and Developers most popularly used in the world
    </p>
    <ul class="list-populars section-populars__list">
      <li class="list-populars__item">
        <div class="list-populars__content">
          <h3 class="list-populars__title">Figma</h3>
          <span class="list-populars__usage">Free</span>
        </div>
        <p class="list-populars__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="list-populars__box">
          <div class="list-populars__actions">
            <button class="list-populars__like" type="button" aria-label="Add the program to the likes section.">
              <svg class="list-populars__heart" width="28" height="28" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-heart" />
              </svg>
            </button>
            <button class="list-populars__add" type="button" aria-label="Add the program to the saved section.">
              <svg class="list-populars__folder" width="30" height="30" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-folder" />
              </svg>
            </button>
          </div>
          <a class="list-populars__visit" href="#">Visit</a>
        </div>
      </li>
      <li class="list-populars__item">
        <div class="list-populars__content">
          <h3 class="list-populars__title">Sketch</h3>
          <span class="list-populars__usage">Trial &amp;&nbsp;Paid</span>
        </div>
        <p class="list-populars__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="list-populars__box">
          <div class="list-populars__actions">
            <button class="list-populars__like" type="button" aria-label="Add the program to the likes section.">
              <svg class="list-populars__heart" width="28" height="28" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-heart" />
              </svg>
            </button>
            <button class="list-populars__add" type="button" aria-label="Add the program to the saved section.">
              <svg class="list-populars__folder" width="30" height="30" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-folder" />
              </svg>
            </button>
          </div>
          <a class="list-populars__visit" href="#">Visit</a>
        </div>
      </li>
      <li class="list-populars__item">
        <div class="list-populars__content">
          <h3 class="list-populars__title">Visual Studio Code</h3>
          <span class="list-populars__usage">Free</span>
        </div>
        <p class="list-populars__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="list-populars__box">
          <div class="list-populars__actions">
            <button class="list-populars__like" type="button" aria-label="Add the program to the likes section.">
              <svg class="list-populars__heart" width="28" height="28" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-heart" />
              </svg>
            </button>
            <button class="list-populars__add" type="button" aria-label="Add the program to the saved section.">
              <svg class="list-populars__folder" width="30" height="30" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-folder" />
              </svg>
            </button>
          </div>
          <a class="list-populars__visit" href="#">Visit</a>
        </div>
      </li>
      <li class="list-populars__item">
        <div class="list-populars__content">
          <h3 class="list-populars__title">Notion</h3>
          <span class="list-populars__usage">Free &amp;&nbsp;Paid</span>
        </div>
        <p class="list-populars__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="list-populars__box">
          <div class="list-populars__actions">
            <button class="list-populars__like" type="button" aria-label="Add the program to the likes section.">
              <svg class="list-populars__heart" width="28" height="28" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-heart" />
              </svg>
            </button>
            <button class="list-populars__add" type="button" aria-label="Add the program to the saved section.">
              <svg class="list-populars__folder" width="30" height="30" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-folder" />
              </svg>
            </button>
          </div>
          <a class="list-populars__visit" href="#">Visit</a>
        </div>
      </li>
      <li class="list-populars__item">
        <div class="list-populars__content">
          <h3 class="list-populars__title">Slack</h3>
          <span class="list-populars__usage">Free &amp;&nbsp;Paid</span>
        </div>
        <p class="list-populars__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="list-populars__box">
          <div class="list-populars__actions">
            <button class="list-populars__like" type="button" aria-label="Add the program to the likes section.">
              <svg class="list-populars__heart" width="28" height="28" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-heart" />
              </svg>
            </button>
            <button class="list-populars__add" type="button" aria-label="Add the program to the saved section.">
              <svg class="list-populars__folder" width="30" height="30" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-folder" />
              </svg>
            </button>
          </div>
          <a class="list-populars__visit" href="#">Visit</a>
        </div>
      </li>
      <li class="list-populars__item">
        <div class="list-populars__content">
          <h3 class="list-populars__title">Invision</h3>
          <span class="list-populars__usage">Free &amp;&nbsp;Paid</span>
        </div>
        <p class="list-populars__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="list-populars__box">
          <div class="list-populars__actions">
            <button class="list-populars__like" type="button" aria-label="Add the program to the likes section.">
              <svg class="list-populars__heart" width="28" height="28" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-heart" />
              </svg>
            </button>
            <button class="list-populars__add" type="button" aria-label="Add the program to the saved section.">
              <svg class="list-populars__folder" width="30" height="30" aria-hidden="true">
                <use xlink:href="img/sprites.svg#icon-folder" />
              </svg>
            </button>
          </div>
          <a class="list-populars__visit" href="#">Visit</a>
        </div>
      </li>
    </ul>
    <button class="section-populars__more" type="button">
      Load more
    </button>
    <div class="brands-populars section-populars__brands">
      <h3 class="brands-populars__title">
        Trusted more than 150+ brand
      </h3>
      <ul class="list-brands brands-populars__list">
        <li class="list-brands__item">
          <a class="list-brands__link" href="#" target="_blank" rel="noopener" aria-label="Go to the Microsoft page.">
            <img class="list-brands__picture" src="img/sprites.svg#logo-microsoft" width="193" height="42" decoding="async" loading="lazy" alt="Microsoft Company logo.">
          </a>
        </li>
        <li class="list-brands__item">
          <a class="list-brands__link" href="#" target="_blank" rel="noopener" aria-label="Go to the Google page.">
            <img class="list-brands__picture" src="img/sprites.svg#logo-google" width="157" height="51" decoding="async" loading="lazy" alt="Google Company logo.">
          </a>
        </li>
        <li class="list-brands__item">
          <a class="list-brands__link" href="#" target="_blank" rel="noopener" aria-label="Go to the Slack page.">
            <img class="list-brands__picture" src="img/sprites.svg#logo-slack" width="194" height="49" decoding="async" loading="lazy" alt="Slack Company logo.">
          </a>
        </li>
        <li class="list-brands__item">
          <a class="list-brands__link" href="#" target="_blank" rel="noopener" aria-label="Go to the WordPress page.">
            <img class="list-brands__picture" src="img/sprites.svg#logo-wordpress" width="194" height="44" decoding="async" loading="lazy" alt="WordPress Company logo.">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
