<section class="section-subscribe section-subscribe_indent">
  <div class="container section-subscribe__container">
    <h2 class="title section-subscribe__title">
      Become a contributor?
    </h2>
    <p class="desc section-subscribe__desc">
      Join&nbsp;us and get tips &amp;&nbsp;tricks to&nbsp;become a&nbsp;great Designer and Developer
    </p>
    <form class="form-subscribe section-subscribe__form" name="formSubscribe" action="#">
      <input class="form-subscribe__field" id="form-subscribe__field" type="email" name="fieldSubscribe" placeholder="Enter your email..." translate="no" autocapitalize="off" autocorrect="false" spellcheck="false">
      <label class="form-subscribe__label" for="form-subscribe__field">
        Enter your email address
      </label>
      <button class="button form-subscribe__join">Join&nbsp;Us</button>
    </form>
  </div>
</section>
