<footer class="site-footer">
  <div class="container site-footer__container">
    <div class="content-footer site-footer__content">
      <a class="logo-footer content-footer__logo" href="#">
        <img class="logo-footer__picture" src="img/sprites.svg#logo-antools" width="140" height="38" decoding="async" loading="lazy" alt="The logo of the company Antools.">
      </a>
      <span class="content-footer__copy">
        Copyright 2021. Antools
      </span>
      <p class="content-footer__text">
        Antool is&nbsp;a&nbsp;web collection of&nbsp;information on&nbsp;paid or&nbsp;free Design and Development tools
      </p>
    </div>
    <div class="box-footer site-footer__box">
      <h2 class="box-footer__title">
        Contact&nbsp;Us
      </h2>
      <ul class="list-box box-footer__list">
        <li class="list-box__item">
          <a class="list-box__text" href="tel:+621987463">+621987463</a>
        </li>
        <li class="list-box__item">
          <address class="list-box__text">
            M&nbsp;Building, No.10&nbsp;A
          </address>
        </li>
        <li class="list-box__item">
          <a class="list-box__text" href="mailto:antools@awesome.com">antools@awesome.com</a>
        </li>
      </ul>
    </div>
    <div class="box-footer site-footer__box">
      <h2 class="box-footer__title">
        Categories
      </h2>
      <ul class="list-box box-footer__list">
        <li class="list-box__item">
          <a class="list-box__text" href="#">Design</a>
        </li>
        <li class="list-box__item">
          <a class="list-box__text" href="#">Development</a>
        </li>
      </ul>
    </div>
    <div class="box-footer site-footer__box">
      <h2 class="box-footer__title">
        Contact&nbsp;Us
      </h2>
      <ul class="list-box box-footer__list">
        <li class="list-box__item">
          <a class="list-box__text" href="#">About&nbsp;Us</a>
        </li>
        <li class="list-box__item">
          <a class="list-box__text" href="#">Our Partners</a>
        </li>
        <li class="list-box__item">
          <a class="list-box__text" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
