<header class="site-header site-header_indent">
  <div class="container site-header__container">
    <a class="logo-header site-header__logo" href="#">
      <img class="logo-header__picture" src="img/sprites.svg#logo-antools" width="140" height="38" decoding="async" loading="lazy" alt="The logo of the company Antools.">
    </a>
    <nav class="nav-header site-header__nav" aria-label="Primary.">
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a class="nav-header__link" href="#">Home</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link nav-header__link_arrow" href="#">Categories</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#">My Collections</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#">Blog</a>
        </li>
      </ul>
    </nav>
    <a class="site-header__login" href="#">Login</a>
    <a class="button site-header__sign-up" href="#">Sign&nbsp;Up</a>
  </div>
</header>
